{% for author in event.authors %}
  {% assign author = site.data.authors[author] | default: author %}
  {% assign email = author.email %}
  {% unless email %}
    {% for link in author.links %}
        {% if link.label == "Email" %}
            {% assign email = link.url %}
        {% endif %}
    {% endfor %}
  {% endunless %}
  {% if email %}
    {% assign email = email | remove: "mailto:" %}
      {% capture email_link %} <a href="mailto:{{ email }}" title='{{ email }}'><span><i class="elastic-fai fas fa-envelope"></i></span></a>{% endcapture %}
  {% else %}
    {% assign email_link = '' %}
  {% endif %}
  {% if author.image %}
    {% capture author_name %}
    <a itemprop="sameAs" content="{{ author.website }}" href="{{ author.website }}" rel="me noopener noreferrer" style="vertical-align:top;"><img src="{{ '/assets/images/author_images/{{ image }} | relative_url }}" style="width:1em;margin-right:.5em;" alt="ORCID iD icon" class="orcid-icon">{{ author.name }}</a>{% endcapture %}
  {% else %}
    {% assign author_name = author.name %}
  {% endif %}
  {{ author_name }}{{ email_link}}{% unless forloop.last %}, {% endunless %}
{% endfor %}
