{% for postauthor in page.postauthor %}
{% assign postauthor = site.data.postauthor[postauthor] | default: postauthor %}
  {% assign name = postauthor.name %}
  {% assign email = postauthor.email %}
    
  {% if name %}
    {% capture author_name %}
      <a itemprop="sameAs" content="{{ postauthor.email }}" href="{{ postauthor.email }}" rel="me noopener noreferrer" style="vertical-align:top;"><img src="{{ '/assets/images/scikit-logo.png' | relative_url }}" style="width:1em;margin-right:.5em;" alt="ORCID iD icon" class="orcid-icon">{{ postauthor.name }}</a>
    {% endcapture %}
  {% else %}
    {% assign author_name = postauthor.name %}
  {% endif %}

  {% if email %}
    {% assign email = email | remove: "mailto:" %}
      {% capture email_link %} 
        <a href="mailto:{{ email }}" title='{{ email }}'><span><i class="elastic-fai fas fa-envelope"></i></span></a>
      {% endcapture %}
  {% else %}
    {% assign email_link = '' %}
  {% endif %}

{{ author_name }}{{ email_link }}{% unless forloop.last %}, {% endunless %}
{% endfor %}
