{% for author in page.postauthors %}
{% assign postauthor = author | default: author %}
  {% assign name = postauthor.name %}
  {% assign email = postauthor.email %}
  {% assign website = postauthor.website %}
  {% assign image = postauthor.image %}

  {% if image %}
    {% capture author_name %}
      <a itemprop="sameAs" content="{{ postauthor.website }}" href="{{ postauthor.website }}" rel="me noopener noreferrer" style="vertical-align:top;"><img src="/assets/images/author_images/{{ postauthor.image }}" style="width:1em;margin-right:.5em;border-radius: 50%;" alt="Author Icon" class="orcid-icon">{{ postauthor.name }}</a>
    {% endcapture %}
  {% else %}
    {% assign author_name = postauthor.name %}
  {% endif %}

  {% if email %}
    {% assign email = email | remove: "mailto:" %}
      {% capture email_link %} 
        <a href="mailto:{{ email }}" title='{{ email }}'><span><i class="elastic-fai fas fa-envelope"></i></span></a>
      {% endcapture %}
  {% else %}
    {% assign email_link = '' %}
  {% endif %}

{% if forloop.first %}Author:  {% endif %}{{ author_name }} {{ email_link }}{% unless forloop.last %}, {% endunless %}
{% endfor %}
<br><br>
