@import "minimal-mistakes";

html {
  font-size: 15px; // default font size

  @include breakpoint($medium) {
    font-size: 17px; // medium
  }

  @include breakpoint($large) {
    font-size: 19px; // large
  }

  @include breakpoint($x-large) {
    font-size: 21px; // extra large
  }
}
