---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 15px; // default font size

  @include breakpoint($medium) {
    font-size: 17px; // medium
  }

  @include breakpoint($large) {
    font-size: 19px; // large
  }

  @include breakpoint($x-large) {
    font-size: 21px; // extra large
  }
}

.archive__item-title {
    position: relative;
    font-size: 22px;
}
