---
layout: archive
title: Archive
author_profile: true
sidebar:
  nav: "docs"
---

{% assign entries_layout = page.entries_layout | default: 'list' %}
<section class="recent-posts">
  <div class="section-title mt-2">
    <!-- <h2>{{ page.title }}</h2> -->
  </div>
  <div class="entries-{{ entries_layout }}">
    {% for post in site.posts %}
      {% if post.categories contains page.category or post.category == page.category %}
       <!-- {% include post.html %} -->
        {% include archive-single.html type=entries_layout %}
      {% endif %}    
    {% endfor %}
  </div>
</section>
